<div
  [attr.aria-label]="product().name"
  class="h-full bg-white shadow-md border border-gray-200 rounded-md p-6 flex flex-col gap-4 mx-auto max-w-xs"
>
  <div class="size-32 relative mx-auto">
    <img [ngSrc]="product().images[0]" alt="" fill />
  </div>
  <div class="pt-6">
    <div class="mb-4 flex items-center justify-between gap-4">
      @if (product().previousPrice) {
      <span
        class="me-2 rounded bg-primary-100 px-2.5 py-0.5 text-xs font-medium text-primary-800"
      >
        Up to {{ productDiscount() | percent }} off
      </span>
      }

      <div class="flex items-center justify-end gap-1">
        <a
          role="button"
          [routerLink]="['/products', product().id]"
          [attr.data-tooltip-target]="productTooltipId"
          class="rounded-lg p-2 text-gray-500 hover:bg-gray-100 hover:text-gray-900"
        >
          <span class="sr-only"> Quick look </span>
          <svg
            class="h-5 w-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-width="2"
              d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"
            />
            <path
              stroke="currentColor"
              stroke-width="2"
              d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
          </svg>
        </a>
        <div
          [id]="productTooltipId"
          role="tooltip"
          class="tooltip invisible absolute z-10 inline-block rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300"
          data-popper-placement="top"
        >
          Quick look
          <div class="tooltip-arrow" data-popper-arrow=""></div>
        </div>
      </div>
    </div>

    <p class="truncate text-lg font-semibold leading-tight text-gray-900">
      {{ product().name }}
    </p>

    <div class="mt-2 flex items-center gap-2">
      <div class="flex items-center">
        <svg
          class="h-4 w-4 text-yellow-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M13.8 4.2a2 2 0 0 0-3.6 0L8.4 8.4l-4.6.3a2 2 0 0 0-1.1 3.5l3.5 3-1 4.4c-.5 1.7 1.4 3 2.9 2.1l3.9-2.3 3.9 2.3c1.5 1 3.4-.4 3-2.1l-1-4.4 3.4-3a2 2 0 0 0-1.1-3.5l-4.6-.3-1.8-4.2Z"
          />
        </svg>

        <svg
          class="h-4 w-4 text-yellow-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M13.8 4.2a2 2 0 0 0-3.6 0L8.4 8.4l-4.6.3a2 2 0 0 0-1.1 3.5l3.5 3-1 4.4c-.5 1.7 1.4 3 2.9 2.1l3.9-2.3 3.9 2.3c1.5 1 3.4-.4 3-2.1l-1-4.4 3.4-3a2 2 0 0 0-1.1-3.5l-4.6-.3-1.8-4.2Z"
          />
        </svg>

        <svg
          class="h-4 w-4 text-yellow-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M13.8 4.2a2 2 0 0 0-3.6 0L8.4 8.4l-4.6.3a2 2 0 0 0-1.1 3.5l3.5 3-1 4.4c-.5 1.7 1.4 3 2.9 2.1l3.9-2.3 3.9 2.3c1.5 1 3.4-.4 3-2.1l-1-4.4 3.4-3a2 2 0 0 0-1.1-3.5l-4.6-.3-1.8-4.2Z"
          />
        </svg>

        <svg
          class="h-4 w-4 text-yellow-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M13.8 4.2a2 2 0 0 0-3.6 0L8.4 8.4l-4.6.3a2 2 0 0 0-1.1 3.5l3.5 3-1 4.4c-.5 1.7 1.4 3 2.9 2.1l3.9-2.3 3.9 2.3c1.5 1 3.4-.4 3-2.1l-1-4.4 3.4-3a2 2 0 0 0-1.1-3.5l-4.6-.3-1.8-4.2Z"
          />
        </svg>

        <svg
          class="h-4 w-4 text-yellow-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M13.8 4.2a2 2 0 0 0-3.6 0L8.4 8.4l-4.6.3a2 2 0 0 0-1.1 3.5l3.5 3-1 4.4c-.5 1.7 1.4 3 2.9 2.1l3.9-2.3 3.9 2.3c1.5 1 3.4-.4 3-2.1l-1-4.4 3.4-3a2 2 0 0 0-1.1-3.5l-4.6-.3-1.8-4.2Z"
          />
        </svg>
      </div>

      <p class="text-sm font-medium text-gray-900">
        {{ product().rating | rating }}
      </p>
      <p class="text-sm font-medium text-gray-500">({{ product().reviews }})</p>
    </div>

    <div class="mt-4 flex items-center justify-between gap-4">
      <p class="text-2xl font-extrabold leading-tight text-gray-900">
        {{ product().price | currency }}
      </p>

      <button
        (click)="addToCart()"
        type="button"
        class="inline-flex items-center rounded-lg bg-primary-700 px-5 py-2.5 font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300"
      >
        <svg
          class="size-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
